.quadPalavra {
    background-color: white;
    color: black;
    font-size: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.containerPalavra {
    display: inline-flex;

    padding: 20px;
    margin: 16px;

    border: 30px solid rgb(253, 236, 0);
    border-radius: 10px;
}

.inputLetra {
    height: 50px;
    width: 50px;

    color: black;
    text-align: center;

    border-radius: 10px;
}

.dica {
    color: rgb(120, 236, 252);
    font-weight: bold;
    font-size: 22px;
}